<style>#namareporter {
    font-weight: bold;
    font-size: xx-small;
}

.publis {
    font-size: xx-small;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: blueviolet;
    font-size: large;
}

a:visited {
    text-decoration: none;
    color: blue;
}

.masukdikit {
    margin-left: 50px;
    margin-right: 100px;
}

.gambar {
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(38, 26, 111, 0.4);
}

</style>